{% extends 'base.html' %}

{% block title %}
Customers
{% endblock %}

{% block body %}
<!-- {% for customer in object_list %} -->

<!-- {{customer}} -->

<div class="container my-3 mx-3">
    <form method="post" action="/main">
      {% csrf_token %}
      <div class="form-group">
        <label for="partname">Part Name</label>
        <input type="text" name="partname" class="form-control" id="partname" placeholder="">
      </div>
      <div class="form-group">
        <label for="material">Material</label>
        <input type="text" class="form-control" name="material" id="material" placeholder="">
      </div>
      <div class="form-group">
        <label for="process">Process</label>
        <input type="text" class="form-control" id="process" name="process" placeholder="">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <select class="form-control" name="quantity" id="quantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
  
        <div class="form-group">
          <label for="rate">Rate</label>
          <input type="text" class="form-control" name="rate" id="rate" placeholder="">
        </div>
  
        <div class="form-group">
          <label for="total">Total</label>
          <input type="text" class="form-control" name="total" id="total" placeholder="">
        </div>
        <button class="btn btn-primary my-3" type="submit">Submit</button>
    </form>
    <br>
    <a href="{% url 'customers:customer-pdf-view' customer.pk %}"><buttom class="btn btn-primary">Print Pdf</buttom></a>
  </div>


<br>

<!-- {% endfor %} -->
{% endblock body %}