<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            font-family: 'Times New Roman', Times, serif;

        }

        .content span{
            font-weight: bold;
            font-size: 12px;
        }
        .content{
            font-size: 12px;
        }
    </style>
</head>

<body>

    <div class="header-content">
        <img src="https://cad-and-cart-bucket-v1.s3.ap-south-1.amazonaws.com/static/img/draft.png" width="300px" alt="">

        <div align="right" class="sales-info-box">
            <table style="width: 40%" align="right">
                <tr>
                    <td class="total-1" style="width:30%;">Hub Location: Pune</td>

                </tr>
                <tr>
                    <td class="total-1" style="width:30%;">Sales coordinator: Mahesh Takey</td>

                </tr>
                <tr>
                    <td class="total-1" style="width:30%;">Contact: +91-9637132001</td>

                </tr>
            </table>
        </div>
    </div>
    </div>

    <hr>
    <div class="content">

        <p><span>Partname: </span>{{customer.partname}}</p>
        <br>
        <p> <span>Material: </span> {{customer.material}}</p>
        <br>
        <p> <span>Process: </span> {{customer.process}}</p>
        <br>
        <p> <span>Qty: </span> {{customer.quantity}}</p>
        <br>
        <p> <span>Rate: </span> {{customer.rate}}</p>
        <hr>
        <p> <span>Total: </span> {{customer.total}}</p>
    </div>

    <hr>


    <div class="" style="margin-bottom: 0px!important;">
        <div class="company-1">Spire3d Technologies PVT LTD</div>
        <div class="company-2">Block F-2, MIDC
            <br>Pimpri Colony, Pimpri-Chinchwad
            <br>Pune, Maharashtra 41101
            <br>PAN ABDCS5705P
            <br>GSTIN 27ABDCS5705P1ZU
        </div>

    </div>

    <div class="notes">

        <p>Terms and Conditions:
            <br>Order Confirmation : Confirmation of order is done after Admin check.
            <br>Payment Terms : Minimum charges will be Rs 300/-
            <br>Payment Term : 50 % Advance payment before start of work.
            <br>Payments Term : 100 % payment before delivery.
            <br>Delivery Terms : Goods will be deliver after realization of Payment.
            <br>Delivery Condition : Courier charger will be extra.
            <br>Special Note : Collect your scrap within 1 week.
</body>

</html>